	html, body{

		font-family: sans-serif;
		margin: 0px;
		}

	header{
		background-color: #FFCCBC;
		padding: 10px 20px 15px 20px ;
		text-align: center;
		
		}

	h1{
		font-size: 60px;
		color: #D84315;
		}

	
	header img
	{

		border-radius: 1000px;
		border: 5px solid #D84315;
		
		}

	
	
	.content{max-width: 630px;margin: 0 auto;padding: 0 20px;}

	

	img.big-image{

		max-width: 31%;

	}

	p.caption{

		font-size: 15px;
		color: grey;
		font-style: italic;
	}

	
	

	ul{
		list-style: none;
		padding: 0;
		margin: 0;

	}

	
	a{
		color: red;
		text-decoration: none;


	}


	footer ul{
		text-align: center;
		padding: 40px 20px;
		background-color: #424242;
		color: white;
		margin-top: 30px;

	}

	footer ul li{

		display: inline-block;
		margin: 0 8px;
		
	}
	















/*<header> 
		<img src="img/profile.jpg" style="width: 10%">
		<h1>Super Mario</h1>
	</header>+/

